<div class="defaultlayout">
  <% if @page.content_for(:main_image) %>
      <div class="mainImage">
        <%= raw @page.content_for(:main_image) %>
      </div>
  <% end %>
  <div class="container_12">
    <div class="container_960">
      <h1><%= page_title %></h1>

      <section class="grid_9">
        <%= raw @page.content_for(:body) %>
      </section>
      <aside class="grid_3">
        <h3 class="more">More</h3>
        <ul>
          <% footerlinks = Refinery::Page.live.sort_by { |page| page.lft }
             for page in footerlinks %>
              <% unless page.parent || page.title === 'Home' || page.show_in_menu == false %>
                  <li><%= link_to(page.custom_slug_or_title, refinery.url_for(page.url)) %></li>
              <% end %>
          <% end %>
        </ul>
      </aside>
      <div class="clearfix"></div>

      <a href="/choose_material" class="buttonChoosematerial" style="bottom: -3px;">
        Create your sign now!
      </a>

    </div>
  </div>
  <div class="defaultShadow"></div>
</div>
