<div class="genericlayout">
  <div class="inner">
    <div class="blueBackground error-page">
      <div class="container_12">
        <div class="container_960">


          <section class="grid_12">

            <div class="content-wrapper">
              <%= raw @page.content_for(:body) %>
            <div class="magnifying-glass-icon"></div>
            </div>

          </section>
          <div class="clearfix"></div>

        </div>
      </div>
      <div class="defaultShadow"></div>
    </div>
  </div>

</div>
