<% content_for :stylesheets do %>
    <% stylesheet_link_tag 'home' %>
<% end %>
<% content_for :javascripts do %>
    <% javascript_include_tag('home', 'jquery.cycle.all', 'jquery.carouFredSel-5.6.4-packed', 'jquery.easing.1.3') %>
<% end %>
<!--Start top slider area-->
 <div id="heroContainer" class="loading">
  <div id="heroSlider">
    <div class="heroSlide" style="background-image: url('/assets/home-slider-01.jpg');">
      <h1>Design your own sign</h1>
    </div>
    <div class="heroSlide" style="background-image: url('/assets/home-slider-02.jpg');">
      <h2>Do other stuff too&hellip;</h2>
    </div>
    <div class="heroSlide" style="background-image: url('/assets/home-slider-03.jpg');">
      <h2>Another feature</h2>
    </div>
  </div>
  <div id="heroControls">
    <div class="arrowControl prev">
      <div class="arrow"></div>
    </div>
    <div class="arrowControl next">
      <div class="arrow"></div>
    </div>
  </div>
  <a href="/choose_material" id="createYourSignNow">
    Create your sign now!
  </a>

  <div class="upperShadow"></div>
</div>
<div class="threeSteps">
  <div class="container_12">
    <div class="grid_4 stepOne">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <h3>1. Choose a material</h3>

      <p>We've loads of great materials and finishes. Choose from wood, to brass, to perspex and more.</p>
      <a href="#" class="button">Choose your material</a>

      <div class="arrow"></div>
    </div>
    <div class="grid_4 stepTwo">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <h3>2. Design your sign</h3>

      <p>Have fun with our new custom sign creator. Add text, shapes and colours to make your sign!</p>
      <a href="#" class="button">Create your sign now</a>

      <div class="arrow"></div>
    </div>
    <div class="grid_4 stepThree">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <h3>3. We deliver it!</h3>

      <p>It's as simple as that. And, we'll even deliver your unique brand new sign within 3 to 5 working days.
        Hooray!</p>
      <a href="#" class="button">Get started today!</a></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="howArePeopleUsingSignApp">
  <h3><span class="downArrow"></span>How are people using SignApp?<span class="downArrow"></span></h3>

  <a href="#" class="howDoesCustomisationWork">How does customisation work?</a>
  <div class="signCarousel" id="signCarousel">
    <div class="imageTile"><img src="/assets/home-tile-01.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-02.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-03.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-04.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-05.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-06.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-07.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-08.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-09.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-10.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-11.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-12.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-13.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-14.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-15.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-16.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-17.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-18.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-19.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-20.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-21.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
    <div class="imageTile"><img src="/assets/home-tile-22.jpg"/>

      <div class="infoPanel"><p>Lorem ipsum dolor sit amet</p><a href="#" class="button red">Customise this sign</a>
      </div>
    </div>
  </div>
  <div class="arrowControl prev">
    <div class="arrow"></div>
  </div>
  <div class="arrowControl next">
    <div class="arrow"></div>
  </div>
  <div class="upperShadow"></div>
</div>
<div class="clearfix"></div>
<div class="featurePanels">
  <div class="container_12">
    <div class="grid_4 panelOne">
      <div class="radialGradient"></div>
      <h4><strong>All our materials are sourced from renewable sources.</strong> And, are hand picked for their superior
        quality.</h4>

      <div class="iconContainer">
        <div class="icon"></div>
        <div class="icon hover"></div>
      </div>
      <div class="dottedLine"></div>
    </div>
    <div class="grid_4 panelTwo">
      <div class="radialGradient"></div>
      <h4><strong>You can use our sign designer to make your sign on your computer or iPad.</strong> Or at work if
        you're sneaky!</h4>

      <div class="iconContainer">
        <div class="icon"></div>
        <div class="icon hover"></div>
      </div>
      <div class="dottedLine"></div>
    </div>
    <div class="grid_4 panelThree">
      <div class="radialGradient"></div>
      <h4><strong>What are people saying?</strong><br/> Comments from some of our customers.</h4>
      <q>I made a sign for my dad's birthday. The look on his face said it all! Fantastic!</q>
    </div>
  </div>
  <div class="upperShadow"></div>
  <div class="clearfix"></div>
</div>

