<select id="sizeSelect" name="sizeSelect">
  <% @sign_sizes.each do |size| %>
      <option value="<%= size.width %>|<%= size.height %>"><%= size.title %></option>
  <% end %>

  <% if @custom_sign_size %>
      <option value="custom">Custom</option>
  <% end %>
</select>