<% if Spree::Promotion.count > 0 %>
    <div class="five columns alpha offset-by-nine coupon-code-field">
      <div class="left-container">
        <%= order_form.label :coupon_code, 'Add a Promo Code' %>
        <br/>
        <%= order_form.text_field :coupon_code, :size => 10 %>
        <%= order_form.submit 'Apply Code', :class => 'blue' %>
      </div>

      <div class="adjustments-container">
        <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
      </div>

      <div class="clearfix"></div>
    </div>

<% end %>
