<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<div id="cart-detail" data-hook>
  <div id="line_items" data-hook>
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
  </div>
  <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
</div>
