$dark-grey: #333333;
$mid-grey: #808080;
$light-grey: #999999;
$pale-grey: #CCCCCC;
$white-grey: #E6E6E6;
$dark-red: #A32F48;
$mid-red: #C73B59;
$red: #DB4464;
$green: #47CB77;
$darkest-blue-grey: #1D3036;
$dark-blue-grey: #2D3F42;
$mid-blue-grey: #517075;
$light-blue-grey: #748C92;
$pale-blue-grey: #97A9AD;
$dark-blue: #21919F;
$mid-blue: #2FC1D2;
$bright-blue: #40CEDD;
$light-blue: #71DAE4;
$pale-blue: #B9EDF2;
$cream: #F9F4E3;
$white: #FFFFFF;