html, body {
    height: 100%;
}

#savingOverlay
{
    background: rgba(255, 255, 255, 0.9) url('loader.gif') no-repeat center center;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.footerWrapper {
    background: #fff;
    border-top: 3px solid #212F32;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footerWrapper .footerTab {
    background: #212F32 url("customisation/customisation-sprite.png") no-repeat 10px -390px;
    border-radius: 3px 3px 0 0;
    color: #4F7077;
    cursor: pointer;
    display: block;
    font-size: 0.938em;
    font-weight: bold;
    height: 34px;
    left: 5%;
    line-height: 34px;
    padding: 0 10px 0 34px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -34px;
}

#loadingOverlay {
    background: rgba(255, 255, 255, 0.9) url('loader.gif') no-repeat center center;
    display: block;
    height: 100%;
    lef: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#tourOverlay {
    background: rgba(22, 32, 34, 0.9);
    display: none;
    height: 100%;
    lef: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

#canvasZoomWrapper {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) inset, 0 -4px 10px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) inset, 0 -4px 10px rgba(0, 0, 0, 0.5) inset;
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) inset, 0 -4px 10px rgba(0, 0, 0, 0.5) inset;
    -khtml-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) inset, 0 -4px 10px rgba(0, 0, 0, 0.5) inset;
    background: #314649;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) inset, 0 -4px 10px rgba(0, 0, 0, 0.5) inset;
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 20px 0;
    position: relative;
    top: 0;
    width: 100%;
}

.canvas-container {
    /*
    background: #999;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 0 10px 2px rgba(0, 0, 0, 0.75);
    */
    margin: 116px auto;
    overflow: hidden;
}

.canvas-container #textArea {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: url(transparent-pixel.png);
    border: none;
    display: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    resize: none;
    vertical-align: text-bottom;
}

/*Minor Functions*/
.minorFunctions {
    font-size: 0.750em;
    position: absolute;
    right: 20px;
}

.upper-canvas
{
    z-index: 20;
}

.minorFunctions .function {
    border-left: 1px solid #162022;
    color: #95A9AD;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.minorFunctions .function:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

/*Major Functions*/
.majorFunctions {
    left: 10%;
    position: absolute;
    top: 50px;
}

.majorFunctions .buttonContainer {
    float: left;
    margin-right: 5px;
}

.majorFunctions .button {
    background-image: url('customisation/customisation-sprite.png');
    background-repeat: no-repeat;
    color: #FAF5E1;
    height: 33px;
    line-height: 33px;
    padding: 0 18px 0 40px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition:  none;
    transition:  none;
}

.majorFunctions .button.addText {
    background-color: #f44966;
    background-position: 0 2px;
    border: 1px solid #f44966;
}

.majorFunctions .button.overlay {
    position: relative;
    z-index: 300;
}

.majorFunctions .button.addText:hover {
    background-position: 0 -27px;
}

.majorFunctions .button.addShape {
    background-color: #36CE70;
    background-position: 0 -63px;
    border: 1px solid #36CE70;
}

.majorFunctions .button.addShape:hover {
    background-position: 0 -95px;
}

.majorFunctions .button.addBorder {
    background-color: #03C2D6;
    background-position: 0 -137px;
}

.majorFunctions .button.addBorder:hover {
    background-position: 0 -171px;
}

.majorFunctions .menu {
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -o-border-radius: 3px;
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-border-radius: 3px;
    -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: none;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin-top: 6px;
    position: absolute;
}

.majorFunctions .menu .arrow {
    background: url("customisation/customisation-sprite.png") no-repeat;
    display: block;
    height: 6px;
    position: absolute;
    width: 10px;
}

.majorFunctions .menu .function {
    background: url("customisation/customisation-sprite.png") no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 28px;
    margin: 6px 0 6px 10px;
    width: 28px;
}
.majorFunctions .menu .function.engraved {
    width: 112px;
    background: none;
    line-height: 28px;
    font-size: 12px;
}
.majorFunctions .menu .function.engraved span {
    background: #ffffff;
    border-radius: 3px;
    padding: 0 5px;
    display: inline-block;
}

.majorFunctions .menu.addTextMenu {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background: #f44966; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTQyNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f44966 0%, #da425c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f44966), color-stop(100%, #da425c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f44966 0%, #da425c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f44966 0%, #da425c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f44966 0%, #da425c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f44966 0%, #da425c 100%); /* W3C */
    border: 1px solid #f44966;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f44966', endColorstr = '#da425c', GradientType = 0); /* IE6-8 */
    width: 698px;
}

.majorFunctions .menu.addTextMenu .arrow {
    background-position: -320px 0;
    left: 60px;
    top: -7px;
}

/*Bold*/
.majorFunctions .menu.addTextMenu .function.textBold {
    background-position: 2px -317px;
    width: 18px;
}

.majorFunctions .menu.addTextMenu .function.textBold:hover, .majorFunctions .menu .function.textBold.active {
    background-position: 2px -355px;
}

/*Italic*/
.majorFunctions .menu.addTextMenu .function.textItalic {
    background-position: -30px -317px;
    width: 18px;
}

.majorFunctions .menu.addTextMenu .function.textItalic:hover, .majorFunctions .menu .function.textItalic.active {
    background-position: -30px -355px;
}

/*Underline*/
.majorFunctions .menu.addTextMenu .function.textUnderline {
    background-position: -62px -317px;
    width: 18px;
}

.majorFunctions .menu.addTextMenu .function.textUnderline:hover, .majorFunctions .menu .function.textUnderline.active {
    background-position: -62px -355px;
}

/*Strikethrough*/
.majorFunctions .menu.addTextMenu .function.textStrikethrough {
    background-position: -99px -317px;
}

.majorFunctions .menu.addTextMenu .function.textStrikethrough:hover, .majorFunctions .menu .function.textStrikethrough.active {
    background-position: -99px -355px;
}

/*Align Left*/
.majorFunctions .menu.addTextMenu .function.alignLeft {
    background-position: -145px -317px;
}

.majorFunctions .menu.addTextMenu .function.alignLeft:hover, .majorFunctions .menu .function.alignLeft.active {
    background-position: -145px -355px;
}

/*Align Center*/
.majorFunctions .menu.addTextMenu .function.alignCenter {
    background-position: -189px -317px;
}

.majorFunctions .menu.addTextMenu .function.alignCenter:hover, .majorFunctions .menu .function.alignCenter.active {
    background-position: -189px -355px;
}

/*Align Right*/
.majorFunctions .menu.addTextMenu .function.alignRight {
    background-position: -233px -317px;
}

.majorFunctions .menu.addTextMenu .function.alignRight:hover, .majorFunctions .menu .function.alignRight.active {
    background-position: -233px -355px;
}

/*Fonts Menu*/
.majorFunctions .menu.addTextMenu .fontFamily {
    float: left;
    margin: 6px 0 6px 20px;
    width: 245px;
}

.majorFunctions .menu.addTextMenu .select2-container .select2-choice {
    border: none;
}

.majorFunctions .menu.addTextMenu .select2-container .select2-choice div {
    background: #3c131b;
    border-left: none;
}

.majorFunctions .menu.addTextMenu .select2-container .select2-choice div b {
    background: url('customisation/customisation-sprite.png') no-repeat -271px -319px;
    border-left: none;
}

.select2-drop {
    border: none;
}

/*Shapes Menu*/
.majorFunctions .menu.addShapeMenu {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background: #36ce70; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2Y2U3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGI5NjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #36ce70 0%, #00b962 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36ce70), color-stop(100%, #00b962)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #36ce70 0%, #00b962 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #36ce70 0%, #00b962 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #36ce70 0%, #00b962 100%); /* IE10+ */
    background: linear-gradient(to bottom, #36ce70 0%, #00b962 100%); /* W3C */
    border: 1px solid #36ce70;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#36ce70', endColorstr = '#00b962', GradientType = 0); /* IE6-8 */
    width: 530px;
}

.majorFunctions .menu.addShapeMenu .arrow {
    background-position: -320px -38px;
    left: 200px;
    top: -7px;
}

.majorFunctions .menu.addShapeMenu .shapeSelect {
    float: left;
    margin: 6px 0 6px 6px;
    width: 328px;
}

.majorFunctions .menu.addShapeMenu .shapeSelect object, .select2-results object {
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}

.majorFunctions .menu.addShapeMenu .select2-container .select2-choice {
    border: none;
}

.majorFunctions .menu.addShapeMenu .select2-container .select2-choice div {
    background: #1B6738;
    border-left: none;
}

.majorFunctions .menu.addShapeMenu .select2-container .select2-choice div b {
    background: url('customisation/customisation-sprite.png') no-repeat -271px -319px;
    border-left: none;
}

/*Borders Menu*/
.majorFunctions .menu.addBorderMenu {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background: #00c0d9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzBkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGFjYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00c0d9), color-stop(100%, #00acc4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00c0d9 0%, #00acc4 100%); /* W3C */
    border: 1px solid #00c0d9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00c0d9', endColorstr = '#00acc4', GradientType = 0); /* IE6-8 */
    width: 647px;
}

.majorFunctions .menu.addBorderMenu .arrow {
    background-position: -320px -76px;
    left: 352px;
    top: -7px;
}

.majorFunctions .menu.addBorderMenu .borderSelect {
    float: left;
    margin: 6px 0 6px 6px;
    width: 198px;
}

.majorFunctions .menu.addBorderMenu .borderSelect object, .select2-results object {
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}

.majorFunctions .menu.addBorderMenu .select2-container .select2-choice {
    border: none;
}

.majorFunctions .menu.addBorderMenu .select2-container .select2-choice div {
    background: #006170;
    border-left: none;
}

.majorFunctions .menu.addBorderMenu .select2-container .select2-choice div b {
    background: url('customisation/customisation-sprite.png') no-repeat -271px -319px;
    border-left: none;
}

.majorFunctions .menu.addBorderMenu label {
    float: left;
    margin: 0 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    width: 115px;
}

.majorFunctions .menu.addBorderMenu .ui-slider {
    background: #314649;
    border: 1px solid #68DAE6;
    float: left;
    margin-top: 18px;
    position: relative;
    text-align: left;
    width: 110px;
}

.majorFunctions .menu.addBorderMenu .ui-slider .ui-slider-handle {
    background: url('customisation/customisation-sprite.png') no-repeat -319px -400px;
    cursor: default;
    height: 16px;
    outline: none;
    position: absolute;
    width: 11px;
    z-index: 2;
}

.majorFunctions .menu.addBorderMenu .ui-slider .ui-slider-range {
    border: 0;
    display: block;
    position: absolute;
    z-index: 1;
}

.majorFunctions .menu.addBorderMenu .ui-slider-horizontal {
    height: 2px;
}

.majorFunctions .menu.addBorderMenu .ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -5px;
}

.majorFunctions .menu.addBorderMenu .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.majorFunctions .menu.addBorderMenu .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.majorFunctions .menu.addBorderMenu .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.majorFunctions .menu.addBorderMenu #borderThickness {
    float: left;
}

/*Price*/

.majorFunctions .priceWrapper {
    color: #FAF5E1;
    float: left;
    margin-left: 30px;
    text-shadow: 3px 3px 0 #3c3e46;
}

.majorFunctions .priceWrapper .price {
    font-size: 2.625em;
    font-weight: bold;
}

.majorFunctions .priceWrapper .price sup {
    font-size: 0.405em;
    position: relative;
    top: 4px;
    vertical-align: top;
}

.majorFunctions .priceWrapper .inclVAT {
    font-size: 0.875em;
    left: -1.7em;
    position: relative;
}

/*Add to Basket button*/

.majorFunctions .addToBasket {
    background: url('customisation/customisation-sprite.png') no-repeat 0 -228px;
    color: #FAF5E1;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0.875em;
    font-weight: bold;
    height: 40px;
    line-height: 42px;
    padding-left: 44px;
    text-shadow: 0 -1px 0 #3c3e46;;
    text-transform: uppercase;
    width: 174px;
}

.majorFunctions .addToBasket:hover {
    background-position: 0 -268px;
    height: 43px;
}

.majorFunctions .priceWrapper.overlay, .majorFunctions .addToBasket.overlay {
    position: relative;
    z-index: 300;
}

/*Tool Palette*/
.toolPalette {
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: box-shadow 0.2s ease, margin-top 0.2s ease;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -moz-transition: box-shadow 0.2s ease, margin-top 0.2s ease;
    -o-border-radius: 3px;
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -o-transition: box-shadow 0.2s ease, margin-top 0.2s ease;
    -khtml-border-radius: 3px;
    -khtml-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -ms-transition: box-shadow 0.2s ease, margin-top 0.2s ease;
    background: #314649;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 135px;
    width: 83px;
}

.toolPalette.ui-draggable-dragging {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: -2px;
}

.toolPalette .grabHandle {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    background: #00c0d9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzBkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGFjYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00c0d9), color-stop(100%, #00acc4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00c0d9 0%, #00acc4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00c0d9 0%, #00acc4 100%); /* W3C */
    border: 1px solid #03C2D6;
    border-radius: 3px 3px 0 0;
    cursor: all-scroll;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00c0d9', endColorstr = '#00acc4', GradientType = 0); /* IE6-8 */
    height: 14px;
    width: 81px;
}

.toolPalette .label {
    background: #162022;
    color: #FAF5E1;
    float: left;
    font-size: 0.563em;
    height: 19px;
    line-height: 19px;
    margin-top: 1px;
    text-align: center;
    text-transform: uppercase;
    width: 83px;
}

.toolPalette .toolRow {
    clear: both;
    float: left;
    margin-top: 1px;
}

.toolPalette .toolRow .tool {
    background: #162022 url(customisation/tool-palette-sprite.png);
    cursor: pointer;
    float: left;
    height: 37px;
    width: 41px;
}

.toolPalette .toolRow .tool:first-child {
    margin-right: 1px;
}

.toolPalette .toolRow:last-child .tool:first-child {
    border-radius: 0 0 0 3px;
}

.toolPalette .toolRow:last-child .tool:last-child {
    border-radius: 0 0 3px 0;
}

/*Undo*/
.toolPalette .toolRow #undo.disabled {
    background-position: 0 0;
}

.toolPalette .toolRow #undo.disabled:hover {
    background-color: #314649;
    background-position: 0 -74px;
}

.toolPalette .toolRow #undo {
    background-position: 0 -37px;
}

.toolPalette .toolRow #undo:hover {
    background-color: #E04061;
    background-position: 0 -74px;
}

/*Redo*/
.toolPalette .toolRow #redo.disabled {
    background-position: -41px 0;
}

.toolPalette .toolRow #redo.disabled:hover {
    background-color: #314649;
    background-position: -41px -74px;
}

.toolPalette .toolRow #redo {
    background-position: -41px -37px;
}

.toolPalette .toolRow #redo:hover {
    background-color: #36CE70;
    background-position: -41px -74px;
}

/*Delete*/
.toolPalette .toolRow #deleteActiveObject.disabled {
    background-position: -82px 0;
}

.toolPalette .toolRow #deleteActiveObject.disabled:hover {
    background-color: #314649;
    background-position: -82px -74px;
}

.toolPalette .toolRow #deleteActiveObject {
    background-position: -82px -37px;
}

.toolPalette .toolRow #deleteActiveObject:hover {
    background-color: #E04061;
    background-position: -82px -74px;
}

/*Clone*/
.toolPalette .toolRow #cloneActiveObject.disabled {
    background-position: -123px 0;
}

.toolPalette .toolRow #cloneActiveObject.disabled:hover {
    background-color: #314649;
    background-position: -123px -74px;
}

.toolPalette .toolRow #cloneActiveObject {
    background-position: -123px -37px;
}

.toolPalette .toolRow #cloneActiveObject:hover {
    background-color: #03C2D6;
    background-position: -123px -74px;
}

/*Zoom In*/
.toolPalette .toolRow #zoomIn.disabled {
    background-position: -164px 0;
}

.toolPalette .toolRow #zoomIn.disabled:hover {
    background-color: #314649;
    background-position: -164px -74px;
}

.toolPalette .toolRow #zoomIn {
    background-position: -164px -37px;
}

.toolPalette .toolRow #zoomIn:hover {
    background-color: #03C2D6;
    background-position: -164px -74px;
}

/*Zoom Out*/
.toolPalette .toolRow #zoomOut.disabled {
    background-position: -205px 0;
}

.toolPalette .toolRow #zoomOut.disabled:hover {
    background-color: #314649;
    background-position: -205px -74px;
}

.toolPalette .toolRow #zoomOut {
    background-position: -205px -37px;
}

.toolPalette .toolRow #zoomOut:hover {
    background-color: #03C2D6;
    background-position: -205px -74px;
}

/*Bring Forward*/
.toolPalette .toolRow #bringForward.disabled {
    background-position: -246px 0;
}

.toolPalette .toolRow #bringForward.disabled:hover {
    background-color: #314649;
    background-position: -246px -74px;
}

.toolPalette .toolRow #bringForward {
    background-position: -246px -37px;
}

.toolPalette .toolRow #bringForward:hover {
    background-color: #03C2D6;
    background-position: -246px -74px;
}

/*Send Backwards*/
.toolPalette .toolRow #sendBackwards.disabled {
    background-position: -287px 0;
}

.toolPalette .toolRow #sendBackwards.disabled:hover {
    background-color: #314649;
    background-position: -287px -74px;
}

.toolPalette .toolRow #sendBackwards {
    background-position: -287px -37px;
}

.toolPalette .toolRow #sendBackwards:hover {
    background-color: #03C2D6;
    background-position: -287px -74px;
}

/*Flip Vertical*/
.toolPalette .toolRow #flipY.disabled {
    background-position: -328px 0;
}

.toolPalette .toolRow #flipY.disabled:hover {
    background-color: #314649;
    background-position: -328px -74px;
}

.toolPalette .toolRow #flipY {
    background-position: -328px -37px;
}

.toolPalette .toolRow #flipY:hover {
    background-color: #03C2D6;
    background-position: -328px -74px;
}

/*Flip Horizontal*/
.toolPalette .toolRow #flipX.disabled {
    background-position: -369px 0;
}

.toolPalette .toolRow #flipX.disabled:hover {
    background-color: #314649;
    background-position: -369px -74px;
}

.toolPalette .toolRow #flipX {
    background-position: -369px -37px;
}

.toolPalette .toolRow #flipX:hover {
    background-color: #03C2D6;
    background-position: -369px -74px;
}

/*Screw Holes*/
.toolPalette .toolRow #toggleScrewHoles.disabled {
    background-position: -410px 0;
}

.toolPalette .toolRow #toggleScrewHoles.disabled:hover {
    background-color: #314649;
    background-position: -410px -74px;
}

.toolPalette .toolRow #toggleScrewHoles {
    background-position: -410px -37px;
}

.toolPalette .toolRow #toggleScrewHoles:hover, .toolPalette .toolRow #toggleScrewHoles.active {
    background-color: #03C2D6;
    background-position: -410px -74px;
}

/*Screw Margins*/
.toolPalette .toolRow #toggleMargins.disabled {
    background-position: -451px 0;
}

.toolPalette .toolRow #toggleMargins.disabled:hover {
    background-color: #314649;
    background-position: -451px -74px;
}

.toolPalette .toolRow #toggleMargins {
    background-position: -451px -37px;
}

.toolPalette .toolRow #toggleMargins:hover, .toolPalette .toolRow #toggleMargins.active {
    background-color: #03C2D6;
    background-position: -451px -74px;
}