/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #333;
    font-family: 'proxima-nova', sans-serif;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

p {
    font-size: 0.75em;
    line-height: 1.25em;
    margin-bottom: 1em;
}

strong {
    font-weight: 700;
}

a, a:link {
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    color: #0CACC4;
    transition: all linear 0.1s;
}

a:visited {
    color: #006C7E;
}

a:hover, a:active {
    color: #6DCDDC;
}

label {
    font-size: 0.750em;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

input, textarea, select {
    font-family: "Open Sans", sans-serif;
    font-size: 0.750em;
}

select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

header {
    background: #fff url('header-gradient.png') repeat-x left bottom;
    border-bottom: 1px solid #fff;
    height: 118px;
    position: relative;
    z-index: 100;
}

header .logo {
    display: block;
    height: 77px;
    margin-top: 20px;
    width: 135px;
}

header nav {
    color: #2C3F43;
    float: left;
    font-size: 0.875em;
    font-weight: bold;
}

header nav ul {
    position: relative;
    z-index: 3;
}

header nav ul li {
    float: left;
    position: relative;
}

header nav ul li:first-child > a {
    background: url("header-sprite.png") no-repeat 10px 17px;
    display: block;
    height: 14px;
    padding: 17px 10px;
    text-indent: -9999px;
    width: 14px;
}

header nav ul li.topLevel > a {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    background: url("header-sprite.png") no-repeat right -19px;
    color: #2C3F43;
    display: block;
    height: 14px;
    padding: 17px 30px 17px 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;
}

header nav ul li a.button.createASign {
    font-size: 1em;
    margin: 8px 0 0 10px;
}

header nav ul li.topLevel.open {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    background: #00cce1;
    border-radius: 5px 5px 0 0;
}

header nav ul li.topLevel.open > a {
    background-position: right -43px;
}

header nav ul li.topLevel .megaMenu {
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -o-border-radius: 0 5px 5px 5px;
    -khtml-border-radius: 0 5px 5px 5px;
    background: #00cce1;
    border-radius: 0 5px 5px 5px;
    color: #fff;
    float: left;
    position: absolute;
    top: 48px;
    visibility: hidden;
}

header nav ul li.topLevel ul {
    float: left;
    padding: 25px 0 25px 25px;
    width: 145px;
}

header nav ul li.topLevel ul li {
    border: none;
    font-size: 0.929em;
    font-weight: 300;
    margin: 0 0 6px 0;
    width: 100%;
}

header nav ul li.topLevel ul li:last-child {
    margin-bottom: 0;
}

header nav ul li.topLevel ul li h4 {
    font-size: 1.143em;
    font-weight: 700;
    margin-bottom: 11px;
    text-transform: uppercase;
}

header nav ul li.topLevel ul li h4 a {
    color: #FAF5E1;
    text-decoration: none;
}

header nav ul li.topLevel ul li > a, header nav ul li.topLevel ul li > a:link, header nav ul li.topLevel ul li > a:visited {
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header nav ul li.topLevel ul li a:hover, header nav ul li.topLevel ul li a:active {
    color: #2C3F43;
}

header nav ul li.topLevel .blueColumn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #66dfed;
    border-radius: 5px;
    float: left;
    margin: 10px 10px 10px 25px;
    padding: 16px 18px;
    width: 240px;
}

header nav ul li.topLevel .blueColumn h4 {
    color: #4F7077;
    margin-bottom: 12px;
    text-transform: uppercase;
}

header nav ul li.topLevel .blueColumn h5 {
    color: #4F7077;
    margin-bottom: 8px;
}

header nav ul li.topLevel .blueColumn img {
    border: 2px solid #fff;
    margin-bottom: 20px;
}

header nav ul li.topLevel .blueColumn p {
    color: #2C3F43;
    font-weight: 300;
    line-height: 1.750em;
}

header nav ul li.topLevel .blueColumn .price {
    margin: 21px 0 16px;
}

header nav ul li.topLevel .blueColumn .price span {
    color: #E04061;
    font-size: 1.500em;
    font-weight: 700;
}

header nav ul li.topLevel .blueColumn a.button {
    font-size: 1em;
}

header nav ul li.topLevel .blueColumn a.button.red {
    margin-right: 10px;
}

header nav ul li.topLevel .blueColumn .customisation {
    background: url('header-sprite.png') no-repeat 0 -210px;
    clear: both;
    color: #4F7077;
    float: left;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    margin-top: 20px;
    padding: 0 0 0 32px;
    text-decoration: underline;
}

header .subNav {
    float: left;
    font-size: 0.875em;
    font-weight: bold;
    margin-right: 155px;
    text-transform: uppercase;
}

header .subNav li {
    float: left;
    margin: 8px 0;
}

header .subNav a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #E04061;
    display: block;
    height: 30px;
    line-height: 32px;
    padding: 0 20px;
    text-decoration: none;
}

header .subNav a:hover {
    color: #0CACC4;
}

header .basketContainer {
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 335px;
    z-index: 1000;
}

header .basketDropDown .basketHeading {
    background: #00ce6c;
    color: #fff;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

header .basketDropDown .whiteBackground {
    background: #fff;
    padding: 0 20px 20px;
}

header .basketDropDown table {
    font-size: 0.750em;
}

header .basketDropDown table strong {
    font-size: 1.167em;
}

header .basketDropDown table tbody tr {
    border-bottom: 1px solid #EBEBEB;
}

header .basketDropDown table tbody tr td.imageColumn {
    padding: 20px 0;
    width: 60px;
}

header .basketDropDown table tbody tr td.imageColumn img {
    border: 1px solid #EBEBEB;
}

header .basketDropDown table tbody tr td.descriptionColumn {
    padding: 20px 0 20px 30px;
    vertical-align: top;
    width: 150px;
}

header .basketDropDown table tbody tr td.descriptionColumn a {
    color: #333;
    text-decoration: none;
}

header .basketDropDown table tbody tr td.priceColumn {
    padding: 20px 0;
    text-align: right;
    vertical-align: bottom;
    width: 55px;
}

header .basketDropDown table tbody tr td.priceColumn .delete {
    background: url('header-sprite.png') no-repeat 0 -242px;
    cursor: pointer;
    display: block;
    float: right;
    height: 12px;
    margin-bottom: 36px;
    overflow: hidden;
    text-indent: 9999px;
    width: 11px;
}

header .basketDropDown table tfoot tr td.descriptionColumn {
    padding: 20px 0 0 30px;
}

header .basketDropDown table tfoot tr td.priceColumn {
    padding: 20px 0 0;
    text-align: right;
}

header .basketDropDown .yourBasketIsEmpty {
    display: block;
    padding-top: 20px;
    text-align: center;
    width: 295px;
}

header .basketDropDown a.goToCheckout {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    background: #00ce6c;
    border-radius: 0 0 5px 5px;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

header .basket {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #0292A1;
    float: right;
    font-size: 0.875em;
    font-weight: bold;
    margin: 8px 0 0 14px;
    position: relative;
    text-transform: uppercase;
}

header .basket a {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    background: url("header-sprite.png") no-repeat 20px -120px;
    display: block;
    height: 30px;
    line-height: 32px;
    padding-left: 43px;
    text-decoration: none;
    transition: none;
    white-space: nowrap;
    width: 90px;
}

header .basket span {
    color: #FF0049;
}

header .basket .tip {
    background: url('header-sprite.png') no-repeat 0 -174px;
    display: block;
    height: 8px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: -8px;
    width: 15px;
}

header .basket.full {
    background: #00ce6c;
    border: 1px solid #00ce6c;
}

header .basket.full a {
    background-position: 20px -143px;
    color: #fff;
}

header .basket.full span {
    color: #2C3F43;
}

header .basket.full .tip {
    background-position: 0 -192px;
}

header .search {
    float: left;
    margin: 8px 0 0 30px;
    position: relative;
    width: 243px;
}

header .search input[type="text"] {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
    color: #333;
    float: left;
    font-family: 'proxima-nova', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    height: 28px;
    margin: 0;
    padding: 0 5px;
    text-transform: uppercase;
    width: 200px;
}

header .search input[type="text"]:focus {
    outline: none;
}

header .search input[type="text"]::-webkit-input-placeholder {
    color: #ccc;
}

header .search input[type="text"]:-moz-placeholder {
    color: #ccc;
}

header .search input[type="text"]:-ms-input-placeholder {
    color: #ccc;
}

header .search input[type="submit"] {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    background: #03C2D6 url("header-sprite.png") no-repeat 6px -95px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 32px;
}

section h1 {
    margin-top: 30px;
}

aside {
    margin-top: 30px;
}

footer {
    margin: 40px 0;
}

footer h3 {
    margin-bottom: 30px;
}

footer p {
    margin-bottom: 12px;
}

footer .contactTelephone {
    background: url("footer-sprite.png") no-repeat 0 0;
    font-size: 0.875em;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin: 25px 0 20px;
    padding-left: 32px;
}

footer .contactTelephone span {
    color: #0cacc4;
}

footer .emailAddress {
    background: url("footer-sprite.png") no-repeat 0 -30px;
    height: 14px;
    line-height: 14px;
    padding-left: 32px;
}

footer .card {
    background: url("footer-sprite.png") no-repeat;
    display: block;
    float: left;
    height: 26px;
    margin: 0 4px 30px 0;
    width: 42px;
}

footer .card.visa {
    background-position: 0 -54px
}

footer .card.mastercard {
    background-position: 0 -90px
}

footer .card.maestro {
    background-position: 0 -126px
}

footer .card.paypal {
    background-position: 0 -162px
}

footer h3.newsletter {
    margin-bottom: 15px;
}

footer input[type="text"] {
    border: 1px solid #B3B3B3;
    border-right: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.625em;
    height: 23px;
    padding: 0 5px;
    width: 169px;
}

footer input[type="text"]:focus {
    outline: none;
}

footer input[type="submit"] {
    background: #0cacc4;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.625em;
    height: 25px;
    left: -4px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
    width: 50px;
}

footer .sellingPoint {
    background: url("footer-sprite.png") no-repeat;
    border: 1px solid #E6E6E6;
    clear: both;
    color: #999;
    float: left;
    font-size: 0.813em;
    font-weight: 700;
    height: 28px;
    margin-bottom: 10px;
    padding: 8px 10px 12px 70px;
    text-transform: uppercase;
    width: 138px;
}

footer .sellingPoint.delivery {
    background-position: 10px -196px;
}

footer .sellingPoint.exchange {
    background-position: 12px -243px;
}

footer .sellingPoint.international {
    background-position: 14px -292px;
}

footer .grid_24 {
    border-top: 1px solid #E6E6E6;
    margin-top: 20px;
    padding-top: 20px;
}

footer .logo {
    background: url("footer-sprite.png") no-repeat 0 -350px;
    display: block;
    height: 30px;
    width: 52px;
}

footer .links {
    float: left;
    margin: 9px 0;
}

footer .links li {
    border-left: 1px solid #333;
    float: left;
    font-size: 0.750em;
    margin-left: 5px;
    padding-left: 5px;
}

footer .links li:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

footer .links li a:visited {
    color: #0cacc4;
}

footer .alight {
    background: url("footer-sprite.png") no-repeat right -390px;
    color: #808080;
    display: block;
    float: right;
    font-size: 0.750em;
    height: 13px;
    line-height: 13px;
    margin: 9px 0;
    padding-right: 18px;
}

.upperShadow {
    background: url("upper-shadow.png") repeat-x left top;
    bottom: 0;
    display: block;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 20;
}

.button, a.button, a.button:link, a.button:visited {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #03c2d6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzYzJkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwM2MyZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #03c2d6 0%, #03c2d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03c2d6), color-stop(100%, #03c2d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03c2d6 0%, #03c2d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03c2d6 0%, #03c2d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #03c2d6 0%, #03c2d6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #03c2d6 0%, #03c2d6 100%); /* W3C */
    background-position: 0 0;
    border: 1px solid #03C2D6;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03c2d6', endColorstr = '#03c2d6', GradientType = 0); /* IE6-8 */
    font-size: 0.875em;
    font-weight: bold;
    height: 28px;
    line-height: 30px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.button:hover, a.button:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background: #03c2d6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzYzJkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjkyYTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #03c2d6 0%, #0292a1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03c2d6), color-stop(100%, #0292a1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03c2d6 0%, #0292a1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03c2d6 0%, #0292a1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #03c2d6 0%, #0292a1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #03c2d6 0%, #0292a1 100%); /* W3C */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03c2d6', endColorstr = '#0292a1', GradientType = 0); /* IE6-8 */
}

.button.red, a.button.red, a.button.red:link, a.button.red:visited {
    background: #f44966; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDQ5NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f44966 0%, #f44966 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f44966), color-stop(100%, #f44966)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f44966 0%, #f44966 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f44966 0%, #f44966 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f44966 0%, #f44966 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f44966 0%, #f44966 100%); /* W3C */
    border: 1px solid #f44966;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f44966', endColorstr = '#f44966', GradientType = 0); /* IE6-8 */
}

.button.red:hover, a.button.red:hover {
    background: #f44966; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTQyNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f44966 0%, #da425c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f44966), color-stop(100%, #da425c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f44966 0%, #da425c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f44966 0%, #da425c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f44966 0%, #da425c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f44966 0%, #da425c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f44966', endColorstr = '#da425c', GradientType = 0); /* IE6-8 */
}

.floatRight {
    float: right;
}