#heroContainer {
  height: 440px;
  overflow: hidden;
  position: relative;
  width: 100%;
  &.loading {
    background: url('loader.gif') no-repeat center center;
  }
}

#heroSlider {
  height: 440px;
  width: 100%;
  h1, h2 {
    color: #FAF5E1;
    display: none;
    font-size: 9.375em;
    margin: 70px auto;
    text-shadow: 2px 2px 0 #3C3E46;
    text-transform: uppercase;
    width: 940px;
  }
  .heroSlide {
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    height: 440px;
    text-align: center;
    width: 100%;
  }
}

#heroControls .arrowControl {
  background: url('home-hero-slider-sprite.png') no-repeat 0 0;
  display: none;
  height: 60px;
  position: absolute;
  top: 190px;
  width: 60px;
  z-index: 10;
  .arrow {
    background: url('home-hero-slider-sprite.png') no-repeat;
    cursor: pointer;
    display: block;
    height: 60px;
    opacity: 0.5;
    width: 60px;
  }
  &.prev {
    left: 5%;
    .arrow {
      background-position: 0 -60px;
    }
  }
  &.next {
    right: 5%;
    .arrow {
      background-position: 0 -120px;
    }
  }
}

#heroContainer #createYourSignNow {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  background: #e04061 url('home-hero-slider-sprite.png') no-repeat 0 -180px;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  display: block;
  font-size: 1.500em;
  font-weight: bold;
  height: 22px;
  left: 50%;
  margin-left: -180px;
  padding: 15px 0 18px 52px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  bottom: -3px;
  width: 308px;
  z-index: 10;
}

.threeSteps {
  background: #00c0d9 url('home-three-steps-gradient.png') repeat-x left bottom;
  border-bottom: 1px solid #63d8db;
  border-top: 1px solid #2cd8e8;
  .grid_4 {
    color: #FFF;
    margin-bottom: 28px;
    margin-top: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  .radialGradient {
    background: #2cd8e8;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyY2Q4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMGMwZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover, #2cd8e8 0%, #00c0d9 75%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2cd8e8), color-stop(75%, #00c0d9));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2cd8e8 0%, #00c0d9 75%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2cd8e8 0%, #00c0d9 75%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2cd8e8 0%, #00c0d9 75%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #2cd8e8 0%, #00c0d9 75%);
    /* W3C */
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2cd8e8', endColorstr = '#00c0d9', GradientType = 1);
    /* IE6-8 fallback on horizontal gradient */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  .icon {
    background: url("home-three-steps-sprite.png") no-repeat;
    display: block;
    height: 72px;
    margin: 0 auto 15px;
    position: relative;
    width: 70px;
    z-index: 1;
  }
  .stepOne .icon {
    background-position: 0 0;
  }
  .stepTwo .icon {
    background-position: 0 -72px;
  }
  .stepThree .icon {
    background-position: 0 -144px;
  }
  h3 {
    color: #FAF5E1;
    font-size: 1.625em;
    letter-spacing: 0.1em;
    margin: 0 20px 7px 20px;
    position: relative;
    z-index: 1;
  }
  p {
    font-size: 0.750em;
    font-weight: bold;
    margin: 0 20px 22px 20px;
    position: relative;
    z-index: 1;
  }
  a.button {
    background: #2CD8E8;
    border: 1px solid #2CD8E8;
    color: #4F7077;
    position: relative;
    text-shadow: none;
    z-index: 1;
    &:hover {
      background: #2cd8e8;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjZDhlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNmMzZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #2cd8e8 0%, #26c3d2 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2cd8e8), color-stop(100%, #26c3d2));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #2cd8e8 0%, #26c3d2 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #2cd8e8 0%, #26c3d2 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #2cd8e8 0%, #26c3d2 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #2cd8e8 0%, #26c3d2 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2cd8e8', endColorstr = '#26c3d2', GradientType = 0);
      /* IE6-8 */
    }
  }
  .arrow {
    background: url("home-three-steps-sprite.png") no-repeat -70px 0;
    display: block;
    height: 24px;
    margin-right: -11px;
    position: absolute;
    right: -3.1333%;
    top: 91px;
    width: 21px;
  }
}

.howArePeopleUsingSignApp {
  background: #45707c;
  border-bottom: 1px solid #45707c;
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  h3 {
    background: #2c3f43 url(home-how-are-people-using-signapp-sprite.png) no-repeat center 40px;
    color: #4F7077;
    font-size: 1.813em;
    padding: 37px 0 34px;
    text-align: center;
    text-transform: uppercase;
  }
  .howDoesCustomisationWork {
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-transition: color linear 0.1s;
    -moz-border-radius: 0 0 3px 3px;
    -moz-transition: color linear 0.1s;
    -o-border-radius: 0 0 3px 3px;
    -o-transition: color linear 0.1s;
    -khtml-border-radius: 0 0 3px 3px;
    background: #2c3f43 url(home-how-are-people-using-signapp-sprite.png) no-repeat 20px -57px;
    border-radius: 0 0 3px 3px;
    color: #E04061;
    display: block;
    font-size: 0.750em;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px 0 15px 54px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: color linear 0.1s;
    width: 245px;
    &:hover {
      background-position: -548px -57px;
      color: #FAF5E1;
    }
  }
  .arrowControl {
    background: url('home-hero-slider-sprite.png') no-repeat 0 0;
    display: none;
    height: 60px;
    position: absolute;
    top: 338px;
    width: 60px;
    z-index: 40;
    .arrow {
      background: url('home-hero-slider-sprite.png') no-repeat;
      cursor: pointer;
      display: block;
      height: 60px;
      opacity: 0.5;
      width: 60px;
    }
    &.prev {
      left: 5%;
      .arrow {
        background-position: 0 -60px;
      }
    }
    &.next {
      right: 5%;
      .arrow {
        background-position: 0 -120px;
      }
    }
  }
  .signCarousel {
    display: block;
    height: 404px;
    margin: 32px 0 50px;
    &.loading {
      background: url('loader.gif') no-repeat center center;
    }
    .tileRow {
      display: none;
      height: 202px;
      position: relative;
    }
    .imageTile {
      background: #2C3F43;
      border: 1px solid #45707c;
      height: 200px;
      position: absolute;
      width: 200px;
      img {
        display: block;
        height: 200px;
        width: 200px;
      }
      .infoPanel {
        background: #2C3F43;
        border-bottom: 2px solid #45707c;
        border-left: 2px solid #45707c;
        border-right: 2px solid #45707c;
        display: none;
        height: 70px;
        margin-left: -2px;
        padding: 10px 15px;
        width: 370px;
        position: absolute;
        bottom: 0;
        p {
          color: #FFF9DB;
          float: left;
          font-size: 0.825em;
          font-weight: bold;
          height: 30px;
          line-height: 30px;
          margin: 0;
          text-transform: uppercase;
          width: 275px;
        }
        .button.red {
          position: absolute;
          width: 382px;
          left: 0;
          bottom: 0;
          border-radius: 0;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}

.featurePanels {
  background: #2cd8e8;
  border-bottom: 1px solid #63d8db;
  border-top: 1px solid #2cd8e8;
  position: relative;
  .grid_4 {
    height: 300px;
    margin-bottom: 28px;
    margin-top: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  .radialGradient {
    background: #a3ebf3;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhM2ViZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMyY2Q4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover, #a3ebf3 0%, #2cd8e8 75%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a3ebf3), color-stop(75%, #2cd8e8));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #a3ebf3 0%, #2cd8e8 75%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a3ebf3 0%, #2cd8e8 75%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a3ebf3 0%, #2cd8e8 75%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #a3ebf3 0%, #2cd8e8 75%);
    /* W3C */
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3ebf3', endColorstr = '#2cd8e8', GradientType = 1);
    /* IE6-8 fallback on horizontal gradient */
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  h4 {
    color: #4F7077;
    font-size: 0.875em;
    margin: 25px 20px 10px 20px;
    position: relative;
    z-index: 1;
    position: relative;
  }
  p, a {
    color: #4F7077;
    position: relative;
  }
  .iconContainer {
    position: relative;
    display: block;
    height: 124px;
    margin: 0 auto 15px;
    width: 187px;
    z-index: 1;
  }
  .icon {
    background: url("home-feature-panels-sprite.png") no-repeat;
    display: block;
    height: 124px;
    position: absolute;
    width: 187px;
  }
  .panelOne .icon {
    background-position: 0 0;
    &.hover {
      background-position: 0 -134px;
      opacity: 0;
    }
  }
  .panelTwo .icon {
    background-position: 0 -268px;
    &.hover {
      background-position: 0 -402px;
      opacity: 0;
    }
  }
  q, h3 {
    color: #FAF5E1;
    display: block;
    font-size: 1.500em;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    width: 80%;
    z-index: 1;
    margin-bottom: 10px;
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
    }
  }
  .dottedLine {
    background: url("home-feature-panels-sprite.png") no-repeat 0 -537px;
    display: block;
    height: 233px;
    margin-right: -1px;
    position: absolute;
    right: -3.1333%;
    top: 33px;
    width: 3px;
  }
}