@import "colours.css.scss";

.materialsHeading {
  background: $dark-blue-grey url("store/icon-choose-a-material.png") no-repeat center 27px;
  height: 97px;
  margin: 0;
  padding: 128px 0 0;
  text-align: center;
  text-shadow: 1px 1px 0 $dark-grey;
  text-transform: uppercase;
  h1 {
    color: $cream;
    font-size: 2.250em;
    margin: 0 0 0.25em;
  }
  h2 {
    color: $bright-blue;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
}

.taxonHeading {
  background: $dark-blue-grey;
  height: 53px;
  margin: 0;
  padding: 42px 0;
  text-align: center;
  text-shadow: 1px 1px 0 $dark-grey;
  text-transform: uppercase;
  h1 {
    color: $cream;
    font-size: 2.250em;
    margin: 0 0 0.25em;
  }
  h2 {
    color: $bright-blue;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    span {
      color: $cream;
    }
  }
}

.taxonFilter {
  background: $light-blue;
  border-top: 1px solid $pale-blue;
  line-height: 31px;
  min-height: 31px;
  padding: 10px 0;
  text-align: center;
  ul {
    display: inline-block;
    list-style: none;
    li {
      color: $dark-blue-grey;
      float: left;
      font-weight: 700;
      height: 11px;
      line-height: 11px;
      text-transform: uppercase;
      a {
        border-right: 1px solid $dark-blue-grey;
        color: $dark-blue-grey;
        display: block;
        font-size: 1em;
        padding: 0 20px;
        text-decoration: none;
        &:hover {
          color: $cream;
          text-shadow: 1px 1px 0 $dark-blue-grey;
        }
      }
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }
}

.materialSelectorContainer {
  margin-bottom: 34px;
  text-align: center;
  label {
    color: $dark-blue-grey;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin: 0 6px 0 0;
    text-transform: uppercase;
    vertical-align: top;
  }
  .materialSelector {
    display: inline-block;
    li {
      float: left;
      margin-right: 1px;
      text-transform: uppercase;
      a {
        background: $light-blue;
        color: $dark-blue;
        display: block;
        font-weight: 700;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        text-decoration: none;
        &:hover, &.current {
          background: $dark-blue;
          color: $light-blue;
        }
      }
      &:first-child a {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
      }
      &:last-child a {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.blueBackground {
  background: $bright-blue;
  border-top: 1px solid $pale-blue;
  padding: 40px 0 75px;
  position: relative;
}

.taxon-listing ul {
  min-height: 281px;
}

.taxon-listing {
  .getInspired {
    background: $mid-blue url("store/icon-get-inspired.png") no-repeat center 25px;
    border-radius: 3px;
    color: $darkest-blue-grey;
    float: left;
    height: 252px;
    padding: 0 1%;
    text-align: center;
    text-transform: uppercase;
    width: 510px;
    h3 {
      color: $cream;
      font-size: 2.250em;
      margin: 120px 0 0.250em;
      text-shadow: 1px 1px 0 $darkest-blue-grey;
    }
    h4 {
      font-size: 1.000em;
      font-weight: bold;
      margin-bottom: 0.500em;
    }
    p {
      line-height: 1.500em;
      margin: 0 auto;
      width: 410px;
    }
  }
}

.product-listing li, .taxon-listing .taxon {
  color: $dark-blue-grey;
  float: left;
  margin: 0 2% 2% 0;
  width: 255px;
  &.getInspired {
    background: $mid-blue url("store/icon-get-inspired.png") no-repeat center 25px;
    border-radius: 3px;
    color: $darkest-blue-grey;
    float: left;
    height: 252px;
    padding: 0 1%;
    text-align: center;
    text-transform: uppercase;
    width: 510px;
    h3 {
      color: $cream;
      font-size: 2.250em;
      margin: 120px 0 0.250em;
      text-shadow: 1px 1px 0 $darkest-blue-grey;
    }
    h4 {
      font-size: 1.000em;
      font-weight: bold;
      margin-bottom: 0.500em;
    }
    p {
      line-height: 1.500em;
      margin: 0 auto;
      width: 410px;
    }
  }
  .product-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: $light-blue;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 10px;
  }
  a {
    color: $dark-blue-grey;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  .product-name {
    float: left;
    height: 22px;
    line-height: 12px;
    width: 165px;
  }
  .product-gallery {
    background: url("store/store-materials-sprite.png") no-repeat 0 0;
    color: $mid-blue-grey;
    float: left;
    font-size: 0.750em;
    font-weight: bold;
    line-height: 10px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    width: 70px;
  }
  .product-image {
    background: $bright-blue;
    height: 235px;
    overflow: hidden;
    position: relative;
    width: 235px;
    cursor: pointer;
    .imageOverlay {
      background: $dark-blue-grey;
      color: $white;
      height: 215px;
      padding: 10px;
      position: absolute;
      top: 235px;
      width: 215px;
      word-wrap: break-word;
      p {
        font-weight: normal;
        text-transform: none;
      }
      .link {
        color: $white;
        font-size: 0.750em;
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
      }
      a {
        height: 215px;
        padding: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 215px;
        z-index: 11;
      }
    }
    .materialFeatures {
      height: 35px;
      margin: 15px 0 5px;
      text-align: right;
      .feature {
        background: url("store/store-materials-sprite.png") no-repeat 0 -20px;
        display: inline-block;
        height: 35px;
        margin-left: 7px;
        width: 35px;
        &.weatherProof {
          background-position: 0 -20px;
        }
        .drillable {
          background-position: 0 -65px;
        }
        .fullColourPrint {
          background-position: 0 -110px;
        }
      }
    }
  }
  .choose-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: $light-blue;
    border: 1px solid $light-blue;
    border-radius: 3px;
    display: block;
    font-size: 0.875em;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    width: 233px;
    &:hover {
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      background: $dark-blue-grey; /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDA0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzNhNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, $dark-blue-grey 0%, #233a40 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $dark-blue-grey), color-stop(100%, #233a40)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $dark-blue-grey 0%, #233a40 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $dark-blue-grey 0%, #233a40 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $dark-blue-grey 0%, #233a40 100%); /* IE10+ */
      background: linear-gradient(to bottom, $dark-blue-grey 0%, #233a40 100%); /* W3C */
      border: 1px solid $dark-blue-grey;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      color: $cream;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$dark-blue-grey', endColorstr = '#233a40', GradientType = 0); /* IE6-8 */
      text-shadow: 0 -1px 0 $dark-grey;
    }
  }
}

.product-title {
  background: $dark-blue-grey;
  color: $cream;
  font-size: 2.250em;
  height: 96px;
  line-height: 96px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 0 $dark-grey;
  text-transform: uppercase;
}

.productOverview {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: $white;
  border-radius: 3px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  width: 900px;
  min-height: 400px;
  h2 {
    font-size: 0.875em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 0.825em;
    margin-bottom: 1em;
  }
  .imageColumn {
    float: left;
    margin-right: 30px;
    width: 400px;
    #main-image {
      height: 400px;
      margin-bottom: 10px;
      width: 400px;
      overflow: hidden;
      .gallery_image {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        overflow: hidden;
        a {
          cursor: move;
        }
      }
    }
    #product-thumbnails {
      float: left;
      width: 344px;
      li {
        float: left;
        height: 42px;
        margin: 0 10px 10px 0;
        width: 76px;
      }
    }
  }
  .detailsColumn {
    border-right: 1px solid $pale-grey;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    width: 279px;
    p:first-child {
      font-weight: bold;
    }
  }
  .priceColumn {
    float: left;
    width: 150px;
    .priceWrapper {
      margin-bottom: 20px;
      word-break: break-word;
      .price {
        color: $green;
        font-size: 1.813em;
        font-weight: bold;
        sup {
          font-size: 0.414em;
          vertical-align: top;
        }
      }
      .inclVAT {
        color: $green;
        font-size: 0.750em;
        font-weight: bold;
      }
    }
  }
  .whiteTip {
    background: url("store/product-white-tip.png") no-repeat 0 0;
    bottom: -25px;
    display: block;
    height: 25px;
    position: absolute;
    right: 78px;
    width: 44px;
  }

  #product-properties {
    position: relative;

    tr {
      td {
        height: 25px;
        padding-left: 45px;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 0.75em;

        &.weather {
          background: url("store/product-characteristics.png") no-repeat 0 0;
        }
        &.engraved {
          background: url("store/product-characteristics.png") no-repeat 0 -44px;
        }
      }
    }
  }
  .sizeGuideLink {
    font-size: 12px;
    text-transform: uppercase;
    background: url("store/store-materials-sprite.png") no-repeat 0 2px;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 40px;
  }
}

.productOptions {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: $dark-blue-grey;
  border-radius: 3px;
  margin: 10px auto 28px;
  padding: 30px;
  width: 900px;
  h3 {
    color: $cream;
    font-size: 1.313em;
    margin-bottom: 22px;
    text-shadow: 1px 1px 0 $dark-grey;
    text-transform: uppercase;
  }
  .labelsRow {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    label {
      color: $bright-blue;
      font-size: 0.875em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .inputsRow {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: $darkest-blue-grey;
    border-radius: 3px;
    float: left;
    margin: 0 -8px;
    padding: 8px;
    width: 100%;
    &.bottom {
      margin-top: 10px;
    }
  }
  .step {
    float: left;
    position: relative;
    width: 300px;
    &.no-variants {
      width: 220px;
    }
    &.no-variants {
      &.three {
        width: 195px;
        .basePrice {
          text-align: left;
          width: 170px;
          padding: 0;
        }
      }
    }
    .arrow {
      background: url('store/shape-and-size-arrow.png') no-repeat 0 0;
      display: block;
      height: 10px;
      position: absolute;
      right: 7px;
      top: 10px;
      width: 10px;
    }
    &.rightFloat {
      float: right;
    }
    &.priceLabel {
      margin-left: 400px;
    }
    &.one select, &.two select, &.three select {
      width: 275px;
    }
    &.one .select2-container, &.two .select2-container, &.three .select2-container {
      width: 275px;
    }
      &.one.no-variants .select2-container, &.two.no-variants .select2-container, &.three.no-variants .select2-container {
        width: 195px;
    }
    &.one .select2-container .shape, .select2-results .shape {
      height: 20px;
      margin: 0 8px 2px 0;
      vertical-align: middle;
      width: 20px
    }
    &.one {
      .arrow {
        right: 0px;
      }
      .select-alert-message {
        padding: 10px 0 5px 0;
        color: $red;
        font-size: 12px;
        display: none;
      }
    }
    &.two {
      .select2-container {
        margin-left: 12px;
      }
      .arrow {
        right: -10px;
      }
      .choose-shape {
        color: $bright-blue;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px;
        display: block;
      }
      label {
        margin-left: 12px;
      }
    }
    &.three {
      .select2-container {
        margin-left: 25px;
      }
      label {
        margin-left: 24px;
      }
      .variant-alert-message {
        padding: 10px 0 5px 26px;
        color: $red;
        font-size: 12px;
        display: none;
      }
    }
    &.basePrice {
      width: 300px;
      text-align: right;
      padding-right: 40px;
      .arrow {
        right: 14px;
      }
    }
    &.basePrice {
      .priceWrapper {
        margin-top: 5px;
        .price {
          color: $green;
          font-size: 1.313em;
          font-weight: bold;
          sup {
            font-size: 0.571em;
            vertical-align: top;
          }
        }
        .inclVAT {
          color: $green;
          font-size: 0.750em;
          font-weight: bold;
        }
      }
    }
    &.four {
      width: 260px;
      input[type="submit"] {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -khtml-border-radius: 3px;
        background: $red; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDQ5NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, $red 0%, $red 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $red), color-stop(100%, $red)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $red 0%, $red 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $red 0%, $red 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $red 0%, $red 100%); /* IE10+ */
        background: linear-gradient(to bottom, $red 0%, $red 100%); /* W3C */
        background-position: 0 0;
        border: 1px solid $red;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        display: inline-block;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$red', endColorstr = '$red', GradientType = 0); /* IE6-8 */
        font-size: 0.875em;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        width: 260px;
        &:hover {
          -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          background: $red; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTQyNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top, $red 0%, $dark-red 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $red), color-stop(100%, $dark-red)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, $red 0%, $dark-red 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, $red 0%, $dark-red 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, $red 0%, $dark-red 100%); /* IE10+ */
          background: linear-gradient(to bottom, $red 0%, $dark-red 100%); /* W3C */
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$red', endColorstr = '$dark-red', GradientType = 0); /* IE6-8 */
        }
      }
    }
  }
  #custom_size_div {
    position: relative;
    margin-top: 10px;

    label {
      color: $light-blue;
      font-size: 0.875em;
      font-weight: bold;
      text-transform: uppercase;
    }
    input[type=text] {
      border: none;
      height: 26px;
    }
    input[type="button"] {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -khtml-border-radius: 3px;
      background: $red; /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDQ5NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, $red 0%, $red 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $red), color-stop(100%, $red)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $red 0%, $red 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $red 0%, $red 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $red 0%, $red 100%); /* IE10+ */
      background: linear-gradient(to bottom, $red 0%, $red 100%); /* W3C */
      background-position: 0 0;
      border: 1px solid $red;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      display: inline-block;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$red', endColorstr = '$red', GradientType = 0); /* IE6-8 */
      font-size: 0.875em;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      position: relative;
      top: 2px;
      &:hover {
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        background: $red; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NDk2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTQyNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, $red 0%, $dark-red 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $red), color-stop(100%, $dark-red)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $red 0%, $dark-red 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $red 0%, $dark-red 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $red 0%, $dark-red 100%); /* IE10+ */
        background: linear-gradient(to bottom, $red 0%, $dark-red 100%); /* W3C */
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$red', endColorstr = '$dark-red', GradientType = 0); /* IE6-8 */
      }
    }
  }
}

.relatedProducts {
  h5 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    a {
      color: $dark-blue-grey;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.select2-result-label {
  img {
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
}

.select2-container .select2-choice span {
  img {
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
}

.relatedProducts h4 {
  color: $cream;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 $dark-grey;
  text-transform: uppercase;
}

.basketLeft, .basketRight {
  position: relative;
}

.basketLeft {
  #outside_cart_form {
    border-top: 1px solid #2B3E42;
  }
  .line-item {
    border-right: 1px solid #2B3E42;
    border-bottom: 1px solid #2B3E42;
    .cart-item-image {
      width: 104px;
      height: 84px;
      float: left;
      padding: 15px 0;
      margin-right: 20px;
      img {
        border: 1px solid #2B3E42;
      }
    }
    .cart-item-description {
      float: left;
      width: 470px;
      border-right: 1px solid #2B3E42;
      h4 {
        font-size: 18px;
        text-transform: uppercase;
        padding: 15px 0;
        font-weight: 700;
        a {
          text-decoration: none;
          color: #212F32;
        }
      }

      .cart-item-price {
        float: left;
        width: 360px;
        font-size: 20px;
      }

      .cart-item-quantity {
        float: left;
        width: 110px;

        .quantity-container {
          position: relative;
          input[type=text] {
            width: 30px;
            text-align: center;
            border: 1px solid #2B3E42;
            margin-left: 27px;
          }
          .qbutton {
            position: absolute;
            padding: 5px;
            border-radius: 2px;
            top: 3px;
            width: 7px;
            height: 7px;
            line-height: 8px;
            text-align: center;
            cursor: pointer;
          }
          .inc.qbutton {
            left: 70px;
          }
          .dec.qbutton {
            left: 0;

          }
        }
      }

      .cart-item-delete {
        float: right;
        width: 130px;
        text-align: center;
        margin: 10px 0;
        a {
          text-decoration: none;
          font-size: 13px;
          color: $dark-grey;
          font-weight: 100;
        }
      }
    }

    .cart-item-total {
      float: left;
      width: 184px;
      padding: 85px 0 20px 0;
      text-align: center;
      font-weight: 900;
    }
  }

  .coupon-code-field {
    position: relative;
    .left-container {
      float: left;
      padding-bottom: 20px;
      width: 574px;
      label {
        font-size: 18px;
        text-transform: uppercase;
        padding-top: 20px;
        margin-bottom: 10px;
        display: inline-block;
      }

      input[type=text] {
        width: 230px;
        height: 10px;
        border: 1px solid #2B3E42;
        padding: 10px;
      }
      input[type=submit] {
        height: 30px;
      }
    }
    .adjustments-container {
      float: right;
      padding: 85px 20px 20px 20px;
      border-left: 1px solid $darkest-blue-grey;
      border-right: 1px solid $darkest-blue-grey;
      display: inline-block;
      font-size: 18px;
      width: 164px;
      text-align: center;
      font-weight: 600;
    }
  }
  #subtotal {
    position: relative;
    background: #2B3E42;
    h5 {
      float: left;
      color: $white;
      font-size: 14px;
      padding: 12px 20px;
      text-transform: uppercase;
    }
    .order-total {
      float: right;
      padding: 10px 20px;
      border-left: 1px solid $bright-blue;
      display: inline-block;
      font-size: 18px;
      color: $white;
      width: 146px;
      text-align: center;
      font-weight: 600;
    }
  }

  #update-button {
    margin: 20px 0 0 290px;
    height: 42px;
    line-height: 42px;
    &.highlight {
      background-position: bottom;
      border-color: $mid-blue;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
    .direction-arrow {
      width: 25px;
      height: 22px;
      position: absolute;
      left: 54px;
      background: url("direction-arrow.png") no-repeat;
      &.first {
        top: -30px;
      }
    }
  }
  .continue.button {
    height: 39px;
    line-height: 39px;
  }
  #empty-cart {
    position: relative;
    padding-bottom: 20px;
    .cream {
      float: left;
      height: 30px;
      font-weight: 700;
      letter-spacing: 0;
      padding: 0 20px;
      font-size: 14px;
    }
    .red {
      float: right;
      height: 30px;
      font-weight: 500;
      letter-spacing: 0;
      padding: 0 20px;
    }
  }
  #checkout-link {
    float: right;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
  }
}

.basketRight {
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  a {
    list-style: none;
    color: $darkest-blue-grey;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.checkout {
  padding-top: 0;
  position: relative;
  .checkout_title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 0.5em;
  }

  legend {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  label {
    font-size: 14px;
    display: inline-block;
  }
  label.error {
    color: #db4464;
  }
  input[type=text], input[type=tel] {
    width: 230px;
    height: 10px;
    border: 1px solid #2B3E42;
    padding: 10px;
    font-size: 12px;
  }
  input[type=text].error, input[type=tel].error {
    border: 1px solid #db4464;
  }
  .select2-container {
    width: 250px;
    font-size: 12px;
    .select2-choice {
      height: 31px;
      line-height: 31px;
      border: 1px solid #2B3E42;
    }
  }

  .checkout_content {
    position: relative;
    .columns.alpha {
      float: left;
      width: 569px;
      border-top: 1px solid $darkest-blue-grey;
      border-right: 1px solid $darkest-blue-grey;
      padding-top: 20px;
      .splitColumn {
        width: 284px;
        float: left;
      }
    }

    .columns.omega {
      float: left;
      width: 390px;

      #shipping {
        padding-left: 50px;
      }
      input[type=checkbox] {
        margin-left: -30px;
        position: relative;
        top: -2px;
      }
      #use_billing {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  .mailing-list {
    text-align: right;
    padding: 30px 0;
    border-top: 1px solid $darkest-blue-grey;
    input[type=checkbox] {
      margin-left: 10px;
    }

  }

  .form-buttons {
    padding: 30px 0;
    border-top: 1px solid $darkest-blue-grey;
    text-align: right;
    position: relative;

    .payment-methods {
      position: absolute;
      left: 0;
      top: 20px;
      h4 {
        font-size: 18px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .card {
        background: url("footer-sprite.png") no-repeat;
        display: block;
        float: left;
        height: 26px;
        margin: 0 4px 30px 0;
        width: 42px;
        &.visa {
          background-position: 0 -54px;
        }
        &.mastercard {
          background-position: 0 -90px;
        }
        &.maestro {
          background-position: 0 -126px;
        }
        &.paypal {
          background-position: 0 -162px;
        }
      }
    }
    .red {
      height: 30px;
      font-weight: 500;
      letter-spacing: 0;
      padding: 2px 20px;
      letter-spacing: 0;
      font-size: 14px;
    }
    input[type=submit] {
      height: 40px;
    }
  }

  .progressBar {
    position: relative;
    margin-top: -2px;
    border-top: 2px solid $darkest-blue-grey;
    border-bottom: 2px solid $darkest-blue-grey;
    font-size: 18px;
    color: $white;
    background: #21c2d4;

    .grid_4 {
      margin: 0;
      padding: 18px 0;
      width: 30%;
      background: url('progress-arrow.png') top right no-repeat;
    }
    .grid_4.billing {
      text-align: right;
      padding-right: 5%;
    }
    .grid_4.shipping {
      text-align: center;
    }
    .grid_4.payment {
      text-align: left;
      padding-left: 5%;
      background: none;
    }

    .grid_4.current {
      background: #3fcc74 url('progress-current-arrow.png') top right no-repeat;
    }

    .grid_4.current.payment {
      background: #3fcc74;
    }
    .grid_4.prev {
      background: #21c2d4 url('progress-current-arrow2.png') top right no-repeat;
    }

    .grid_4.complete {
      background: #3fcc74 url('progress-complete-arrow.png') top right no-repeat;
    }

  }

  #subtotal-shipping {
    position: relative;
    border-top: 1px solid $darkest-blue-grey;
    border-right: 1px solid $darkest-blue-grey;
    label {
      font-size: 18px;
      color: $white;
      text-transform: uppercase;
      padding: 15px 0;
    }
    .total-figure {
      float: right;
      border-left: 1px solid $darkest-blue-grey;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      width: 180px;
      padding: 15px 0;
    }
  }
  #shipping_method {
    position: relative;
    border-top: 1px solid $darkest-blue-grey;
    padding-top: 20px;
    padding-left: 30px;
    float: left;
    width: 748px;
    border-right: 1px solid $darkest-blue-grey;
    h5 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    #methods {
      position: relative;

      label {
        display: block;
        margin-bottom: 15px;
        width: 30%;

        span {
          float: right;
          font-weight: bold;
        }
      }
    }
  }

  .shipping-options {
    border-right: 1px solid $darkest-blue-grey;
  }
  #shipping-amount {
    float: right;
    border-top: 1px solid $darkest-blue-grey;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    padding-top: 65px;
  }

  #total-with-shipping {
    position: relative;
    background: $darkest-blue-grey;

    label {
      font-size: 14px;
      color: $white;
      padding: 15px 0;
      padding-left: 20px;
    }

    #Total-include-shipping {
      float: right;
      border-left: 1px solid $mid-blue;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      width: 180px;
      padding-top: 65px;
      color: $white;
      padding: 14px 0;
    }
  }

  #payment {
    padding-top: 20px;
    border-top: 1px solid $darkest-blue-grey;
    h5 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  #payment-methods {
    position: relative;
    padding-top: 20px;
    border-top: 1px solid $darkest-blue-grey;
    .select2-container {
      width: 124px;
    }
    img {
      margin-bottom: 20px;
    }
    a {
      color: $darkest-blue-grey;
    }
      li {
        padding-left: 0;
        text-indent: 0em !important;
      }
  }
  #order, #order_details {
    position: relative;

    .order-summery {
      padding: 15px 0;
      border-top: 1px solid $darkest-blue-grey;
      border-right: 1px solid $darkest-blue-grey;

      legend {
        margin-bottom: 0;
      }
    }

    table {
      width: 100%;

      #line-items tr {
        border-top: 1px solid $darkest-blue-grey;
        border-bottom: 1px solid $darkest-blue-grey;
        border-right: 1px solid $darkest-blue-grey;

        td {
          padding: 10px 20px;
          width: 80%;
          &.total {
            width: 20%;
            text-align: center;
            font-size: 18px;
            border-left: 1px solid $darkest-blue-grey;
            vertical-align: middle;
          }
          strong {
            display: block;
          }
        }

        &.order-total {
          td {
            background: $darkest-blue-grey;
            color: $white;
            &.total {
              border-left: 1px solid $mid-blue;
            }
          }
        }
      }
    }

    .steps-data {
      padding-top: 40px;

      .grid_6 {
        border-top: 1px solid $darkest-blue-grey;
        padding: 20px 0;
        font-size: 14px;
        h6 {
          margin-bottom: 10px;
          display: block;
          font-size: 18px;
          a {
            font-size: 14px;
            text-decoration: none;
            float: right;
          }
        }
        .address {
          line-height: 22px;
        }
      }

    }
  }

  #errorExplanation {
    position: relative;
    margin-bottom: 20px;
    background: #db4464;
    padding: 20px;
    h2 {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 500;
    }
    h2, p {
      color: $white;
    }
    ul {
      li {
        color: $white;
      }
    }
  }
}
