<ul id="taxonomies" class="sidebar-item" data-hook>
  <li>Filter by:</li>
  <% get_taxonomies.each do |taxonomy| %>
      <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
  <% end %>
</ul>
<% if @taxon.parent %>
    <%= link_to 'Show All', '/t/' + @taxon.parent.permalink, :class => 'button dark' %>
<% end %>