<ul id="taxonomies" class="sidebar-item" data-hook>
  <li>Filter by:</li>
  <% if @taxon && @taxon.parent %>
      <% @taxon.parent.children.map do |taxon| %>
          <li><%= link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
  <% else %>
      <% @taxon.children.map do |taxon| %>
          <li><%= link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
  <% end %>
</ul>
<% if @taxon && @taxon.parent %>
    <%= link_to 'Show All', '/t/' + @taxon.parent.permalink, :class => 'button dark' %>
<% end %>